<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeiserApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD5A59081D9346A500A2AEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5A59211D9346A700A2AEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD5A592C1D9346A700A2AEA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
